body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Candara";
    color: #aa5050;
    background-color: transparent;
    background-size: cover;
}
.clear {
    display:inline-block;
    clear: both;
}

.clear2{
    display: flex;
}

a {
    outline: none;
    text-decoration: none;
}

.imgl {
    float: left;
    margin: 0 15px 15px 0;
    clear: left;
    width: 100px;
    height: auto;
}

body, html { overflow-x:hidden; }

address, article, aside, figcaption, figure, footer, header, nav, section {
    display: inline-flexbox;
    margin: 0;
    padding: 0;
}

/*----------------------------Mobilna verzija-----------------------*/

.responsive-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    display: none;
    z-index: 997;
}

#icon {
    color: #e04f79;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
    display: none;
}

.responsive-menu {
    background-color: white;
    width: 80%;
    height: 100vh;
    z-index: 998;
    position: fixed;
    left: -80%;
    transition: 0.25s;
}

.responsive-menu-open {
    left: 0;
}

.responsive-overlay-open {
    display: block;
}

.responsive-menu ul li {
    margin-top: 10px;
    font-size: 25px;
}

.responsive-menu ul li a {
    color: #e04f79;
    text-decoration: none;
}

.responsive-menu ul {
    margin-top: 60px;
    margin-left: 20px;
}

#logo-responsive-menu {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.responsive-menu ul li a:hover {
    color: #e04f79;
    transition: 0.2s linear;
}

.responsive-menu ul li a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: "";
    width: 0;
    height: 1px;
    transition: all 0.2s linear;
}

.responsive-menu ul li a:hover::after {
    width: 100%;
    background-color: #e04f79;
}

.responsive-navbar {
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 996;
    display: none;
    box-shadow: -1px 4px 10px 1px rgba(0, 0, 0, 0.3);
}


/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.row2 {
    color: #232323;
    background-image: url('../images/background.jpg'),linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6));
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-size: auto;
    background-blend-mode: overlay;
}

.row2 a {
    color: #e04f79;
    background-color: transparent;
}

.row3, .row3 a {
    color: #919191;
    background-color: #232323;
}


/*----------------------------------------------Generalne stvari-------------------------------------*/

#header, #container {
    display: block;
    width: 960px;
    margin: 0 auto;
}

#footer{
    display: flex;
    width: 960px;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    font-style: italic;
    line-height: normal;
}

.two_quarter {
    display: inline-block;
    /* float: left; */
    width: 100%;
    margin: 0 0 0 0;
    background-color:rgba(231,231,231, 0.8);
}

.one_quarter {
    width: 50%;

}

/*----------------------------------------------Header-------------------------------------*/

#header {
    display: flex;
    padding-top: 20px;
    /* align-items: flex-end; */
}

#header nav {
    width: 100%;
    text-align: right;
    vertical-align: bottom;
    margin-bottom: 15px;
}
#header #social #icons{
    list-style: none;
    display: inline-flex;
}
#header #social{
    text-align: right;
    width: 100%;
}

#header #social #f img{
    filter: grayscale(1);
}

#header #social #f img:hover{
    filter: grayscale(0);
}

#header #social #i img{
    filter: grayscale(1);
}

#header #social #i img:hover{
    filter: grayscale(0);
}

#header #social #e img{
    filter: grayscale(1);
}

#header #social #e img:hover{
    filter: grayscale(0);
}

#header nav li {
    display: inline;
    margin-left: 30px;
    font-size: 20px;
}

#header nav li.last {
    margin-right: 0;
}

#header nav li a {
    color: #676767;
    background-color: transparent;
}

#header nav li a:hover {
    color: #e04f79;
    background-color: none;
    border-top: 1px solid #e04f79;
    border-bottom: 1px solid #e04f79;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*----------------------------------------------Content Area-------------------------------------*/

#container {
    padding: 30px 0;
}

#container section {
    display: flexbox;
    margin-bottom: 30px;
    padding: 0;
}

#container .last {
    margin: 0;
}

/* ------Slider-----*/

#container #slider {
    width: 100%;
}

#container #slider figure img {
    float: right;
    width: 630px;
    height: 300px;
}

#container #slider figure figcaption {
    display: block;
    float: left;
    width: 290px;
    height: 260px;
    padding: 20px;
    overflow: hidden;
    color: #676767;
    background-color:rgba(231,231,231, 0.8);
    line-height: 1.6em;
}

#container #slider figure figcaption h2{
    color: #e04f79;
}

#container #slider figure figcaption a {
    color: #e04f79;
    background-color: transparent;
}

#container #slider figure h2 {
    font-size: 42px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

/* ------Main Content-----*/

#container #intro {
    width: 100%;
}

#container #intro section article h2 {
    margin-bottom: 15px;
}

#container #intro section article figure ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#container #intro section article figure ul li {
    display: inline-block;
    margin: 0 15px 0 0;
}

#container #intro section article figure ul li.last {
    margin: 0;
}

#container #intro section article figure ul li img {
    width: 130px;
    height: 130px;
    margin: 0;
    padding: 4px;
    border: 1px solid #D6D6D6;
}

#container #intro section article figure figcaption {
    display: block;
    width: 100%;
    margin-top: 20px;
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#container #intro #body_section{
    display: inline-block;
}

#container #homepage {
    display: block;
    width: 100%;
    line-height: 1.6em;
}

#container #homepage section {
    margin-bottom: 0;
}

#container #homepage section h2.title {
    margin: 0 0 25px 0;
    padding: 0 0 8px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#container #homepage section footer {
    clear: both;
}

#container #homepage section nav li {
    margin: 0 0 8px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #D6D6D6;
} */

#container #homepage section nav li.last {
    margin: 0;
}

#container #homepage section nav a {
    padding: 0 0 0 10px;
    background: url("../images/arrow.gif") left center no-repeat;
}

.h2_section{
    padding-top: 20px;
    padding-left: 20px;
    color: #e04f79;
}

.p_section{
    padding-left: 20px;
}

.pics{
    padding-top: 10px;
}
/*----------------------------------------------Footer-------------------------------------*/

#footer {
    padding: 20px 0;
}

#footer p {
    margin: 0;
    padding: 0;
}

.pratite_nas li a:hover {
color: #e04f79;
}
.pratite_nas li{
    padding-bottom: 10px;
}

.about {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.kontaktforma{
	width:100%;
	height:80%;
	text-align: center;
	padding-bottom: 110px;
	color:#e04f79;

}
#forma{
	background-color: rgba(214,212,213,0.3);
	width: 50%;
	height: 50%;
	margin:0px auto;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid gray;
	margin-top: 50px;
	border-radius: 5px;
}

#dugme {
    display: none;
    color: white;
    font-size: 25px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 14px;
    background-color: #222;
    margin-top: 2px;
}

#main_title{
    border-top: 1.5px solid #D6D6D6;
    border-bottom: 1.5px solid #D6D6D6;
    width: 960px;
    margin: auto;
}

#main_title h2{
    color: #e04f79;
    font-size: 30px;
    text-align: center;
}

.Input-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    padding-left: 10px;
    color: inherit;
    width: 50%;
    height: 30px;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow var(--transitionDuration);
  }

@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
    #container {
        width: 300px;
    }
    #icon {
        display: block;
    }
    #header {
        display: none;
    }
    .responsive-navbar {
        display: block;
    }
    #logo_mobile{
        display: block;
        height: 50px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #container #intro section article figure ul{
        margin-top: 20px;
    }

    #container #intro section article figure figcaption{
        margin-top: 0;
        margin-bottom: 20px;
    }
    #footer{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #footer p{
        margin: 0;
    }
    .one_quarter{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #forma{
        width: 75%;
    }
}